.age-verification-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000; 
    overflow: hidden;
  }
  
  .modal-content {
    background: #fff; 
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 90%; 
  }
  
  .modal-logo {
    height: 90px; 
    margin-bottom: 0px;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    flex: 1; 
  }
  
  .modal-buttons button:first-of-type {
    background-color: #fff; 
    color: #000;
    border: 2px solid #000; 
    margin-right: 10px; 
  }
  
  .modal-buttons button:last-of-type {
    background-color: #f7c20e; 
    color: #000;
    border: none; 
    margin-left: 10px; 
  }
  